<p>
  <strong>Author:</strong>
  <%= @meme.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @meme.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @meme.body %>
</p>

<p>
  <strong>Type:</strong>
  <%= @meme.meme_type %>
</p>

<%= image_tag(@meme.picture, width: 200) if @meme.picture.attached? %> <br>

<% if current_user.name == @meme.user.name %>
  <%= link_to 'Edit', edit_meme_path(@meme) %> |
  <td><%= link_to 'Destroy', meme_path(@meme),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td> |
<% end %>
<%= link_to 'Back', root_path %>
<h3>Comments</h3>
<% if user_signed_in? %>
  <%= render partial: 'comments/form', locals: { comment: @comment } %>
<% end %>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br>
    <p><%= comment.body %></p>
    <% if comment.user_name == current_user.name %>
      <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  </div>
<% end %>