<h1>Listing memes</h1>

<table style="width:100%">
  <tr style="padding:15px">
    <th>Avatar</th>
    <th>Author</th>
    <th>Title</th>
    <th>Text</th>
    <th>Type</th>
    <th>Meme</th>
  </tr>

  <% @memes.each do |meme| %>
    <tr style="padding: 15px">
      <td><%= image_tag(meme.user.avatar.variant(resize: "50x50")) if meme.user.avatar.attached? %></td>
      <td><%= link_to meme.user.name, user_path(meme.user.name)%></td>
      <td><%= meme.title %></td>
      <td><%= meme.body %></td>
      <td><%= meme.meme_type %></td>
      <td><%= image_tag(meme.picture.variant(resize: "250x250")) if meme.picture.attached? %></td>
      <td><%= link_to 'Show', meme_path(meme) %></td>
    </tr>
  <% end %>
</table>
